## MIDTERM EXAM QUESTION (4 points)

#### For this exercise, we are going to use the text data from publicly available comments on Youtube. The dataset provided for this coding test are comments for videos related to animals and/or pets. The dataset file is comma separated, with a header line defining the field names, listed here:

- creator_name. Name of the YouTube channel creator.
- userid. Integer identifier for the users commenting on the YouTube channels.
- comment. Text of the comments made by the users.

#### Read the youtube_comments.csv file

In [28]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
ratings = pd.read_csv("youtube_comments.csv")
ratings.head()

    creator_name  userid                                            comment
0   Doug The Pug      87   I shared this to my friends and mom the were lol
1   Doug The Pug      87                                    Super cute  üòÄüêïüê∂
2    bulletproof     530  stop saying get em youre literally dumb . have...
3  Meu Zool√≥gico     670                      Tenho uma jiboia e um largato
4         ojatro    1031  I wanna see what happened to the pigs after th...

### Question 1 (1 point)

#### Identify The top 5 commentators [Hint: Group by "creator_name" and "userid" and get the count. Show the Top 5 commentators]

In [29]:
tmp=ratings.groupby(['creator_name','userid'])
tmp.count()

                                     comment
creator_name                 userid
#CameraLord‚Ñ¢ ‚Ä¢ Kor Capital   41444         1
2CAN.TV - Ripley the Toucan! 12277         1
ASPCA                        89939         6
Aarons Animals               72191         1
Abbey Normal                 9312          1
...                                      ...
Íº¨Î∂ÄÍ∏∞ÏïÑÎπ† My Pet Diary           65053         2
                             68872         1
                             72751         1
                             104939        1
üêØ Romeo üêØ                    20871         1

[398 rows x 1 columns]

In [30]:
answer=tmp.count()
answer.sort_values('comment',ascending=False,inplace=True)
answer.head(5)

                            comment
creator_name        userid
The Dodo            89939       135
Viktor Larkhill     89939        67
Gnat Vova           36515        57
Brian Barczyk       55694        24
Keedes channel LIVE 86236        20

### Question 2 (1 point)

#### Using K-means Clustering Algorithm, Cluster the comments from the topmost commentator

##### Hint below: 
##### Step 1: Strip the Comments column from the topmost commentator
##### Step 2: Get the TFIDF conversions and Build K-means clustering Algorithm. 
##### Step 3: Print Cluster Number and the top 20 terms under each cluster

In [33]:
x=answer.drop('comment',axis=1)
y=answer['comment']

Empty DataFrame
Columns: []
Index: [(The Dodo, 89939), (Viktor Larkhill, 89939), (Gnat Vova, 36515), (Brian Barczyk, 55694), (Keedes channel LIVE, 86236), (SlideShow ForFun, 89939), (Stray Rescue of St. Louis, 89939), (Hope For Paws - Official Rescue Channel, 89939), (peahix, 21953), (Vet Ranch, 89939), (M·∫°nh CFM, 37030), (Brave Wilderness, 121172), (World Animal Awareness Society, 89939), (New York Bully Crew, 89939), (BeautifulHusky, 60185), (Brave Wilderness, 46471), (WaysideWaifs, 89939), (The Dodo, 12728), (The Dodo, 24401), (The Humane Society of the United States, 89939), (ASPCA, 89939), (Brave Wilderness, 117404), (Brave Wilderness, 114706), (Royal Kennels, 89939), (Brave Wilderness, 58249), (Gone to the Snow Dogs, 13796), (Brave Wilderness, 56576), (Brave Wilderness, 69222), (Taylor Nicole Dean, 58249), (Jody Hartman / Dog Named Stella, 89939), (Brave Wilderness, 103626), (Frosted Forest Sasquatch - Alabama Bigfoot Investigations, 22940), (Keedes channel LIVE, 68660), (Brave Wilderness, 110729), (Vet Ranch, 89097), (Michigan Humane Society, 89939), (xX23Richard23Xx, 24401), (Alex Dauterive, 86731), (ViralBe, 89874), (Brave Wilderness, 87530), (Zak Georges Dog Training rEvolution, 63541), (Cole & Marmalade, 56610), (Zak Georges Dog Training rEvolution, 10765), (Brian Barczyk, 27689), (Brian Barczyk, 28322), (HammyLux, 70944), (Nichole337, 71107), (Keedes channel LIVE, 43611), (Hope For Paws - Official Rescue Channel, 108221), (RaleighLink14, 65992), (Big Cat Rescue, 97097), (Brave Wilderness, 23172), (stacyvlogs, 46471), (Bee Strong Honey & Bee Removal, 89097), (Steff J, 48342), (Hope For Paws - Official Rescue Channel, 106885), (PETA (People for the Ethical Treatment of Animals), 89939), (Hope For Paws - Official Rescue Channel, 78111), (M·∫°nh CFM, 11860), (Cat Man Chris, 56610), (CelebrityHauteSpot, 100662), (The Dodo, 91091), (The Dodo, 26560), (Mickey Smith, 24401), (Cole & Marmalade, 9431), (Quaoar Power, 11047), (National Mill Dog Rescue, 89939), (Rachel Oleary, 36364), (PENNSYLVANIA BIGFOOT & DOGMAN RESEARCH, 24401), (Brian Barczyk, 121948), (Maddie Smith, 13796), (Hope For Paws - Official Rescue Channel, 2911), (Robin Seplut, 96113), (Soi Dog Foundation, 89939), (Hope For Paws - Official Rescue Channel, 66282), (Taylor Nicole Dean, 13796), (Taylor Nicole Dean, 14603), (Taylor Nicole Dean, 52429), (StormyRabbits, 70944), (Info Marvel, 17671), (GoHerping, 7841), (Taylor Nicole Dean, 66597), (Kitsune Kreations, 8857), (SlideShow ForFun, 91091), (Taylor Nicole Dean, 77256), (Taylor Nicole Dean, 107692), (Doug The Pug, 87), (Keedes channel LIVE, 10683), (DailyBigCat, 104598), (Brian Barczyk, 47141), (Talking Kitty Cat, 94999), (LPE360, 45581), (Vet Ranch, 59962), (Brian Barczyk, 18587), (Brave Wilderness, 47141), (foxalbiazul, 107975), (stacyvlogs, 24646), (Brave Wilderness, 71107), (Brave Wilderness, 69741), (Bee Strong Honey & Bee Removal, 86494), ...]

[398 rows x 0 columns]

In [32]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2,random_state=0)
kmeans.fit(x)
means=kmeans.cluster_centers_
print(means)

from sklearn.metrics import confusion_matrix,classification_report
print("ConfusionMatrix",confusion_matrix(df['Private'],kmeans.labels_))
print(classification_report(df['Private'],kmeans.labels_))

ValueError: at least one array or dtype is required

### Question 3 (2 points)


#### For the above problem, find the optimal cluster size using Elbow method. Plot the sum of squared distances against the number of clusters